.contenedor {
  height: 600px;
  background: rgb(223, 232, 240);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
}

.hijo1 {
  background: #046d1a;
  width: 150px;
  /* height: 100px; */
  color: aliceblue;
  /* margin: 30px;
  padding: 20px; */
  font-size: 18px;
  text-align: center;
  flex-grow: 1;
}

.hijo2 {
  background: #046d1a;
  /*   width: 100px; */
  /* height: 100px; */
  color: aliceblue;
  margin: 30px;
  padding: 20px;
  font-size: 26px;
  text-align: center;
}
