* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(53, 211, 53);
}

.row {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid white;
  margin: 10px 0;
  padding: 20px;
  max-width: 700px;
  background: darkgray;
}

[class^="col"] {
  padding: 15px;
  background: rgb(144, 49, 17);
  flex: 0 0 auto;
  outline: 2px solid black;


}

.col-12 {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;

}

.col-1 {
  flex-basis: 8.333%;
  min-width: 50px;
  max-width: 8.333%;
}

.col-6 {
  flex-basis: 100%;
  max-width: 100%;

}

@media (min-width: 480px) {
  .col-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
}



/* 
.right {
  justify-content: end;
}

.left {
  justify-content: start;
}

.center {
  justify-content: center;
}

.curso {
  display: flex;

} */

button {
  background: darkorchid;
  border: 0;
  font-size: 1.5em;
  padding: 0.2em 0.5em;

}



@media (min-width: 480px) {
  .curso {
    display: flex;
    background: darkorange;
  }

  .description {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .action {
    align-self: flex-end;
  }

  .curso button {
    min-width: 80px;
  }

  .figure {
    display: inline;

  }
}