* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: #282727;
  display: flex;

  flex-direction: column-reverse;
  flex-direction: column;

  flex-direction: row;
  flex-direction: row-reverse;

  flex-wrap: wrap-reverse;
  flex-wrap: wrap;



}

.item {
  background: #4a4949;
  outline: 2px solid rgb(22, 120, 22);
  flex-basis: auto;
  width: 250px;
  height: 50px;

}