* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  font-family: sans-serif;
  height: 100vh;
  width: 95%;
  flex-wrap: wrap;

  display: flex;
  align-items: center;
  justify-content: center;



}

.cursos {
  justify-content: center;

}

.practicas {
  justify-content: center;
}

.titulo {
  font-weight: 200;
  display: flex;
  justify-content: center;
}


.nav {
  /*  width: 400px; */
  /* max-width: 600px; */
  margin: 20px auto;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  align-content: space-evenly;
  column-gap: 7px;
}

.nav a {
  text-decoration: none;
}



.item {
  /* width: 100px;*/
  height: 70px;
  background: #33aadd;
  color: aliceblue;
  flex-grow: 1;

  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}


.item2 {
  background: #378ad8;
}

.item3 {
  background: #d77c32;
}

.item4 {
  background: #ab43f5;
}

.submenu__practica {
  list-style-type: none;
  height: 40px;

}